h1, h2, h3 {
  break-after: avoid;
  page-break-after: avoid;
}
h1 + figure, h2 + figure, h3 + figure {
  break-before: avoid;
  page-break-before: avoid;
}
figure {
  break-inside: avoid;
  page-break-inside: avoid;
}
figure img {
  max-width: 100%;
}
figcaption {
  break-before: avoid;
  page-break-before: avoid;
}
h4 {
  text-align: center;
  font-style: italic;
}
.poem h3 {
  text-align: center;
}
.poem > p {
  text-align: center;
  text-indent: 0;
}
.poem > p:nth-of-type(n+2) {
  font-style: italic;
}
